@media (max-width:768px){
    .fotoOpen {
        height: 70vh;
    }
    }

    @media(max-width:788px){
        /* menu */
    .nuestroMenu h2{
        font-size: 1.9rem;
    }
    html {
        font-size: 12px;
    }
}