.contenedorTexto {
    display: flex;
    max-width: 93%;
    margin-left: 3.25rem;
    justify-content: space-between;
    border-top: solid 1px white;

    .nosotros1,
    .horarios,
    div {
        h2,
        p {
            margin: 1rem 3rem;
        }
    }
}

.redesSociales {
    text-align: right;
    padding-right: .9375rem;

    img {
        width: 2rem; 
        height: 2rem;
        margin-left: .625rem;
    }
}

.horarios {
    p {
        width: 7.125rem;
    }
}
