// Bg image
.fotoRestaurante, .fotoRestaurante2, .fotoOpen {
    @include background-image('../assets/fotorestaurant.png');
    height: 100vh;
    @include flex-center;
  }
  .fondoMenu {
    @include background-image('../assets/restaurante.png', 120%, center, no-repeat);
    @extend .fotoOpen;
    height: 60vh;
    width: 100vw;
    position: relative;
    top: 4.875rem;
    overflow: hidden;
  }
//   nosotros
.espacioConFooter {
    margin-bottom: 1.55rem;
}
//   .fondoMenu {
// 	-webkit-animation: kenburns-top 5s linear forwards;
// 	        animation: kenburns-top 5s linear forwards;
// }
//  @-webkit-keyframes kenburns-top {
//     0% {
//       -webkit-transform: scale(1) translateY(0);
//               transform: scale(1) translateY(0);
//       -webkit-transform-origin: 50% 16%;
//               transform-origin: 50% 16%;
//     }
//     100% {
//       -webkit-transform: scale(1) translateY(-15px);
//               transform: scale(1) translateY(-15px);
//       -webkit-transform-origin: top;
//               transform-origin: top;
//     }
//   }
//   @keyframes kenburns-top {
//     0% {
//       -webkit-transform: scale(1) translateY(0);
//               transform: scale(1) translateY(0);
//       -webkit-transform-origin: 50% 16%;
//               transform-origin: 50% 16%;
//     }
//     100% {
//       -webkit-transform: scale(1.25) translateY(-35px);
//               transform: scale(1.25) translateY(-35px);
//       -webkit-transform-origin: top;
//               transform-origin: top;
//     }
//  }
  .acomodarButton{
    position: absolute;
    bottom: 320px;
    left: 40%;
  }

//   reserva

.containerReserva {
    @include grid-setup(repeat(4, 9.25rem), repeat(4, 7rem));
    border-radius: 2.0875rem;
    background-color: map-get($colors, "secondary");
    align-items: center;
    }
    .cocina {
        grid-column: 1/5;
        grid-row: 1/3;
        text-align: center;
        margin-top: auto;
        object-fit: contain;
        h2{
            font-size: 29px;
        }
    }
    .reserva {
        grid-column: 2/4;
        grid-row: 2/4;
        margin-left: 0.625rem;
        margin-top: 7rem;
      
        a {
          background-color: map-get($colors, "highlight");
          padding: 0.99rem 1.995rem;
          border-radius: 3.625rem;
          text-decoration: none;
          font-size: 1.25rem;
        }
      
        img {
          width: 10%;
          border-radius: 0;
          padding-right: 0.5125rem;
          position: relative;
          bottom: 0.1rem;
        }
      
        a:hover {
          background-color: map-get($colors, "highlight-hover");
        }
      }
      
    .buttonLink2 {
        color: map-get($colors, "text" );
        text-decoration: none;
    }
     
    .buttonLink2:hover {
        color: #aaa;
    }
    
    /* Reserva 1 */
.textoElFortin {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 1.5375rem;
    border-bottom: solid 1px white;
}

.seleccionaNumDePersonas {
    grid-column: 1/5;
    grid-row: 2/3;  
    text-align: center;
    margin-top: 1.875rem;
}
.counter {
    display: flex;
    grid-column: 2/4;
    grid-row: 3/4;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    button {
        width: 20%;
        height: 30%;
    }
    p{
        font-size: 1.625rem;
        padding-top: 15px;
    }
}
.reservaPaginaUno {
    grid-column: 4/5;
    grid-row: 4/5;
    margin-top: 2.575rem;
}
.colorQueMolesta{
    background-color: rgba(0, 0, 0, 0);
}
/* Reserva 2 */
.seleccionaLaFecha {
    grid-column: 1/5;
    grid-row: 2/3;  
    text-align: center;
    margin-top: 2.875rem;
    font-size: 1.75rem;
}
.fechaColor {
    background-color: aliceblue;
    color: map-get($colors, "background" );
    width: 1o.5rem;
    height: 2rem;
    margin-top: 1.25rem;
}
.reservaPaginaUno2 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    justify-content: center;
    margin-top: 2.575rem;
}
/* Reserva 3 */
.seleccionaHorario {
    grid-column: 1/5;
    grid-row: 2/3;  
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    p{
        margin-bottom: 1.25rem;
    }
}

.buttonSep {
    margin-right: 10px;
}
.buttonSepLast {
    margin-right: 10px;
    margin-top: 10px;
}
.buttonColor button{
    color: #000;
}

/* reserva 4 */
.textoFelicitaciones {
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    margin-top: 6.5375rem;
}
.teEsperamos {
    grid-column: 1/5;
    grid-row: 2/3;  
    text-align: center;
    margin-top: 3.875rem;
}

/* Home */
// .buttonLink {
//     background-color: map-get($colors, "background");
//     @include flex-center;
//     height: 4.25rem;
//     color: map-get($colors, "text");
//     padding: 0.3125rem 2.5rem;
//     text-decoration: none;
//     font-size: 20px;
//     border-radius: 25px;
//     display: inline-flex;
//     position: relative;
//     top: 14.5rem;
  
//     &:hover {
//       background-color: rgba(0, 0, 0, 0.7);
//     }
//   }
/* From Uiverse.io by andrew-demchenk0 */ 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    height: 60px;
    width: 250px;
    border: none;
    background: #261d1c;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 35.25rem;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #e52e26;
  }
  
  .button:hover .svg-icon {
    animation: slope 1s linear infinite;
  }
  
  @keyframes slope {
    0% {
    }
  
    50% {
      transform: rotate(10deg);
    }
  
    100% {
    }
  }
.vector {
    padding-right: .925rem;
    width: 20%;
}
.textoConFoto {
    display:flex;
    margin-top: 4.125rem;
}
.texto1 {
    text-align: center;
    margin-top: 7rem;
    max-width: 50%;
    width: auto; 
    height: auto; 
    overflow: auto; 

    h1 {
        font-size: 2.8rem;
        }
    p {
    font-size: 1.8rem;
    }
}

.mozoCortando {
    width: 190%; 
    max-width: 100%; 
    padding-right: 1.875rem;
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
      
}


.platosPrincipales {
    text-align: center;
    margin-top: 1.875rem;
    font-size: 3rem;
    padding-top: 1.25rem;
}
.fotosPlatosPrincipales {
    display: flex;
    /*  flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.625rem;
    width: 100vw;
    padding-top: 1.25rem;
    padding-left: 5.6rem;
    padding-bottom: 1.225rem;

}
.fotosPlatosPrincipales , .imgPlato1, .imgPlato2, .imgPlato3 {
    width: 95%;
    transition: all 200ms cubic-bezier(.56,.67,.9,.76);
    .fotosPlatosPrincipales , .imgPlato1:active, .imgPlato2:active, .imgPlato3:active {
       transform: scale(1.2);
        filter: drop-shadow(2px 2px 5px rgb(165, 151, 151));
    }
}

/* Menu */
.nuestroMenu {
    position: relative;
    top: 5rem;
    margin: auto;
    width: 80%;
    padding-bottom: 1.5rem;

    h2{
        text-align: center;
        padding-top: 3.5625rem;
        padding-bottom: 3rem;
        font-size: 2.25rem;
    }
    h3{
        text-align: center;
        padding-top: 1.5625rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px white;
    }
}


.containerMenu {
    display: flex;
    position: relative;
    gap: 1.65rem;
    align-items: center;
    top: 1.95rem;
    padding-bottom: 1.975rem;
    img {
        width: 22%;
        transition: all 200ms cubic-bezier(.56,.67,.9,.76);
    }
    h4{
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
    }
    img:hover{
        transform: scale(1.1);
        filter: drop-shadow(2px 2px 5px rgb(165, 151, 151));
       
    }
}


.nuestroMenu p {
    font-size: 1.2rem;
}
.fondoDelMenu {
    background-color:map-get($colors, "secondary");
    padding: 0px 3.5rem 3rem 3.5rem;
    border: 3px solid rgba(255, 255, 255, 0.08);
}

.containerLinea{ 
    padding-bottom: 1rem;

}

// nosotros
.tamanoTextoNosotros{
    font-size: 1.56rem;
}
.tamanoH2Nosotros{
    font-size: 2.3125rem;
}
.comidaNosotros1 {
width: 50%;
}
.comidaNosotros{
    width: 100%; 
}
.mozoNosotros {
width: 100%;
}
.comidaNosotros1{
    max-width: 100%;
}



   



