*{
    margin: 0;
    font-family: "Roboto", sans-serif; 
    color: white;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, "primary");
    color: map-get($colors, "text");
  }

  html{
    width: 100%;
    background-color: map-get($colors, "primary");
}

main{
  background-color: map-get($colors, "primary");
}